	*{margin:0;padding:0;}
	ul,li{margin:0;padding:0;list-style:none;}
	a{text-decoration:none;}
	.shenshi{min-width:768px;width:100%;height:auto;}
	.shenshi .head{
		min-width:768px;width:100%;height:auto;
		background:#333;
		margin-bottom:50px;
	}
	.head .head_top{
		min-width:768px;width:100%;height:100px;
		background:rgba(0,0,0,0.8);
		border-bottom:2px solid #666;
		position:relative;
		z-index:10;
	}
	.head .head_top .logo{
		width:20%;height:auto;
		float: left;
	}
	.head .head_top .logo img{
		margin-top:10px;
	}
	.head .head_top .head_dh{
		width:70%;height:auto;
		float:left;color:#999;

	}
	.head_top .head_dh li{
		width:12%;line-height:100px;
		float:left;text-align:center;
	}
   .head_top .head_dh li>a{
      color:#999;
   }
	.head_top .head_dh li .one{
		width:100%;height:auto;
		display:none;
	}
	.head_top .head_dh li .one a{
	    line-height:25px;
	   	display:block;
	   	text-align:center;
	   	font-size:14px;
   }
   .head_top .head_dh li>a:hover{
   	color:#fff;cursor:pointer;
   	transition:all 0.5s ease;
   	opacity:0.95;	
   }
   .head_top .head_dh li .one>a:hover{
   	color:#fff;cursor:pointer;
   	opacity:0.95;transition:all 0.5s ease;
   }
   .head_top .head_del{
   	width:10%;
   	line-height:100px;
   	display:inline-block;

   }
   .head_top .head_del .login span{
   	color:#999;font-size:14px;

   }
   .head_top .head_del .login span:hover{
   	color:white;cursor:pointer;
   	transition:all 0.5s ease;
   }
   .head .head_lb{
   	width:100%;height:100vh;
   }
   .neir{
   	min-width:768px;width:100%;height:auto;
   	position:relative;
   	left:0;top:100px;
   	text-align:center;
   	font-family:微软雅黑;
   }
   .neir .neir_series{
   	width:80%;height:70vh;
   	margin:0 auto;
   	text-align:center;
   }
   .neir .neir_series .series_tit{
	width:100%;height:100px;
   }

   .neir_series .series_one,.series_two{
   	width:45%;height:300px;
   	overflow:hidden;
   	float:left;padding:10px;
   	position:relative;
   	margin-left:2.5%;
   	margin-top:20px;
   }
   .neir_series .series_one img{
   	height:300px;
   	position:absolute;z-index:5;
   	top:0;left:0;
   }
   .neir_series .series_one .one_one{
   	width:100%;height:300px;text-align:center;
   	position:absolute;z-index:3;
   	top:0;left:0;color:rgba(255,255,255,0);
   }

   .neir_series .series_one .one_one .sp3{
   	font-size:15px;color:#eee;border:1px solid #eee;
   	padding:0px 15px;text-align:center;border-radius:3px;
   	margin-top:40px;display:inline-block;
   	
   }
   .neir_series .series_one .one_one .sp3:hover{
   	background:#666;border-color:#666;transition: all 0.5s ease;
   }
   .neir_series .series_two .two_two .sp3{
   	font-size:15px;color:#eee;border:1px solid #eee;
   	padding:0 15px;text-align:center;border-radius:3px;
   	margin-top:40px;display:inline-block;
   }
   .neir_series .series_two .two_two .sp3:hover{
   	background:#666;border-color:#666;transition: all 0.5s ease;
   }
   .neir_series .series_one img:hover{
   	z-index:2;
   }
   .neir_series .series_one .one_one:hover{
   	z-index:5;background:rgba(0,0,0,0.8);
   	color:#ccc;font-size:24px;padding-top:80px;
   	line-height:40px;
   }
   .neir_series .series_two img{
   	position:absolute;z-index:5;
   	top:0;left:0;
   }
   .neir_series .series_two .two_two{
   	width:100%;height:300px;text-align:center;
   	position:absolute;z-index:3;
   	top:0;left:0;color:rgba(255,255,255,0);
   }
   
   .neir_series .series_two img:hover{
   	z-index:2;
   }
   .neir_series .series_two .two_two:hover{
   	z-index:5;background:rgba(0,0,0,0.8);
   	color:#ccc;font-size:24px;padding-top:80px;
   	line-height:40px;
   }
   .neir_sports{
   	width:80%;height:100vh;	
   	margin:0 auto;position: relative;
   	top:30px;left:0;
   }
   .neir_sports .sports_tit{
   	width:100%;height:100px;
   	text-align:center;
   	margin-top:-50px;
   	margin-bottom:20px;
   }
   .neir_sports .img{
   	width:50%;height:60vh;
   	float:left;display:block;
   }
   .neir_sports .sports_one{
   	width:50%;float:left;
   	float:right;margin-top:100px;
   	color:#000;font-family:微软雅黑;
   }
   .neir_sports .sports_one span{
   	padding:10px 15px;border:1px solid #333;
   	border-radius:3px;color:#000;
   	margin-top:30px;display:inline-block;
   }
   .neir_sports .sports_one span:hover{
   	background:#666;border-color:#666;
   	color:#fff;transition: all 0.5s ease;
   	transition: all 0.5s ease;
   }
   .neir_sports .sports_one h2,h5{
   	margin-bottom:10px;
   }
   .back_top{
   	width:40px;height:70px;
   	position: fixed;display:none;
   	right:0;bottom:100px;
   	background:#ccc;
   	margin:20px;
      z-index:10;
   }
   .back_top:hover{
   	cursor:pointer;
   }
   .back_top img{
   	padding-top:5px;
   }
   .back_top span{
   	display:block;
   	font-size:12px;
   	color:#444;
      text-align: center;
   }
   .neir .neir_new{
   	width:80%;height:150vh;
   	margin:0 auto;
   }
   .neir .neir_new .new_tit{
   	padding-top:50px;margin-bottom:20px;
   }
   .neir .neir_new .new_one{
   	width:100%;height:100%;
   	padding:10px;
   }
   .neir .neir_new .new_one li{
   	width:30%;height:auto;
   	float:left;margin:5px;
   	overflow:hidden;margin-left:2%;
   	position:relative;
   }
  
   .neir .neir_new .new_one li>.one_new{
   	width:100%;height:99%;	
   	position:absolute;top:0;left:0;
   	font-family:微软雅黑;display:none;
   	background:rgba(0,0,0,0.8);
   	padding-top:35%;
   }
   .neir_new .new_one li>.one_new>span{
   	font-size:24px;color:#fff;
   }
   .neir_new .new_one li>.one_new a{
   	padding:10px 30px;border:1px solid #ccc;
   	border-radius:3px;color:#fff;
   	font-size:16px;margin-top:20px;
   	display:inline-block;
   }
   .neir_new .new_one li>.one_new a:hover{
   	background:#666;border-color:#666;
   	transition: all 0.5s ease;
   }
   .neir .neir_carousel{
   	width:100%;height: calc( 80vh + 100px );
      margin-top:50px;
   }
   .neir .neir_carousel .carousel_tit{
   	width:80%;height:80px;margin:0 auto;
   }
   .neir .neir_carousel .carousel_tit .car_tit{
      float:left;font-size:28px;
   }
   .neir .neir_carousel .carousel_tit .car_but{
      float:right;padding:10px 15px;border:1px solid #333;
      border-radius:3px;color:#000;
   }
   .neir .neir_carousel .carousel_tit .car_but:hover{
      background:#666;border-color:#666;cursor:pointer;
      color:#fff; 
   }
   .foot{
      min-width:768px;width:100%;height:300px;background:#111;
      color:#eee;margin-top:80px; 
   }
   .foot .foot_left{
      width:70%;height:auto;float:left;
      font-size:15px;margin-top:50px;
      border-right:1px solid #666;

   }
   .foot .foot_left .one_img{
      position: absolute;left:50%;
      display:none;
   }
   .foot .foot_left .left_one{
      width:25%;height:200px;float:left;
      text-align:center;
   }

   .foot .foot_left .left_one .left_two{
      width:100%;height:auto;
      font-size:14px;padding-top:20px;
   }
   .foot .foot_left .left_one .left_two a{
      line-height:30px;color:#999;
   }
   .foot .foot_left .left_one .left_two a:hover{
      color:#ccc;
   }
   .foot .foot_center{
      width:70%;height:auto;
      font-size:12px;color:#666;
      float:left;text-align:center;
   }
   .foot .foot_center span{
      width:33%;padding-left:50px;
   }
   .foot .foot_right{
      width:25%;height:300px;
      position:relative;
      float:left;top:-250px;
      left:60px;padding-top:50px;
   }
   .foot .foot_right .right_sub,.right_cha{
      width:100%;height:80px;
   }
   .foot .foot_right .right_sub>.sub_tit,.right_cha>.cha_tit{
      font-size:14px;color:#999;
   }
   .foot .foot_right .right_sub>input,.right_cha>input{
      width:50%;height:30px;
      margin-top:15px;font-size:12px;
      padding:5px 5px;float:left;
   }
   .foot .foot_right .right_cha>.cha_btn,.right_sub>.sub_btn{
      width:40px;height:30px;font-size:12px;display:block;
      float:left;line-height:30px;text-align:center;background:#eee;
      color:#333;cursor:pointer;margin-top:15px;
   }